# Exercise 4.6 - Combining & Exporting Data

## This script contains:
#### 01. Task step 1
#### 02. Task step 2

# 01. Task step 1

## Importing libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

## Importing data

In [2]:
# creating path to Instacart folder

path = r'/Users/eastongorman/Library/CloudStorage/OneDrive-Personal/Data Analytics/06-2023 Instacart Basket Analysis'

In [3]:
# creating orders dataframe

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [4]:
# creating products dataframe

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# creating prior orders dataframe

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [6]:
# check the dimensions of df_ords_prior

df_ords_prior.shape

(32434489, 4)

### 32,434,489 rows by 4 columns

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# check the dimensions of df_ords

df_ords.shape

(3421083, 8)

### 3,421,083 rows by 8 columns

In [9]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

## Merging orders dataframe with prior orders dataframe

In [10]:
# merging dataframes

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# checking for full match

df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 02. Task step 2

## Exporting data in pickle format

In [13]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Remaining task steps in second notebook